<div class ="negocios">
        <article ngFor="let imagen of imagenes">
            <figure><img [src]="Imagenes" alt="Descripción de la imagen"></figure>
            <div class = "negocio-preview">
            <h2> Negocio1</h2>
            <p>
                Descripción del negocio
            </p>
        </div>
        </article>
        <article>
            <figure><img [src]="Imagenes" alt="Descripción de la imagen"></figure>
            <div class = "negocio-preview">
            <h2> Negocio2</h2>
            <p>
                Descripción del negocio
            </p>
        </div>
        </article>
        <article>
            <figure><img [src]="Imagenes" alt="Descripción de la imagen"></figure>
            <div class = "negocio-preview">
            <h2> Negocio3</h2>
            <p>
                Descripción del negocio
            </p>
        </div>
        </article>
        <article>
            <figure><img [src]="Imagenes" alt="Descripción de la imagen"></figure>
            <div class = "negocio-preview">
            <h2> Negocio4</h2>
            <p>
                Descripción del negocio
            </p>
        </div>
        </article>
        <article>
            <figure><img [src]="Imagenes" alt="Descripción de la imagen"></figure>
            <div class = "negocio-preview">
            <h2> Negocio5</h2>
            <p>
                Descripción del negocio
            </p>
        </div>
        </article>

</div>
