<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-start">
    <div class="list-group">
        <a (click)="onSelectCategoria('RESTAURANTE')" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
            <div>
                <h6 class="mb-0">Restaurantes</h6>
            </div>
        </a>
        <a (click)="onSelectCategoria('Bar')" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
            <div>
                <h6 class="mb-0">Bar</h6>
            </div>
        </a>
        <a (click)="onSelectCategoria('Hotel')" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
            <div>
                <h6 class="mb-0">Hotel</h6>
            </div>
        </a>
    </div>
</div>