<main class="form-signin w-100 m-auto">
    <form (ngSubmit)="login()" (ngSubmit)="loginModerador()">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" [(ngModel)]="loginDTO.correo" name="correo"
                placeholder="name@example.com" required>
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" [(ngModel)]="loginDTO.contrasenia"
                name="contrasenia" placeholder="Password" required>
            <label for="floatingPassword">Password</label>
        </div>

        <div>
            <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Remember me
            </label>
        </div>
        <div class="nav col-md-auto">
            <li><a routerLink="recuperar-contraseña" class="nav-link px-2 link-secondary"></a> ¿Has olvidado tu
                contraseña?</li>

        </div>

        <div>
            <button type="submit" class="btn btn-primary w-100">Sign in</button>
        </div>
    </form>
    <app-alerta *ngIf="alerta" [alerta]="alerta"></app-alerta>
</main>